.todo-list {
    background: #fff;
    font-size: 20px;
    max-width: 15em;
    margin: auto;
    padding: 0.5em 1em;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.todo {
    display: block;
    position: relative;
    padding: 1em 1em 1em 16%;
    margin: 0 auto;
    cursor: pointer;
    border-bottom: solid 1px #ddd;
}
.todo:last-child {
    border-bottom: none;
}
.todo__state {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.todo__text {
    color: #135156;
    transition: all 0.4s linear 0.4s;
}
.todo__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: auto;
    fill: none;
    stroke: #27fdc7;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
}
.todo__line,
.todo__box,
.todo__check {
    transition: stroke-dashoffset 0.8s cubic-bezier(0.9, 0, 0.5, 1);
}
.todo__circle {
    stroke: #27fdc7;
    stroke-dasharray: 1 6;
    stroke-width: 0;
    transform-origin: 13.5px 12.5px;
    transform: scale(0.4) rotate(0deg);
    -webkit-animation: none 0.8s linear;
    animation: none 0.8s linear;
}
@-webkit-keyframes explode {
    30% {
        stroke-width: 3;
        stroke-opacity: 1;
        transform: scale(0.8) rotate(40deg);
    }
    100% {
        stroke-width: 0;
        stroke-opacity: 0;
        transform: scale(1.1) rotate(60deg);
    }
}
@keyframes explode {
    30% {
        stroke-width: 3;
        stroke-opacity: 1;
        transform: scale(0.8) rotate(40deg);
    }
    100% {
        stroke-width: 0;
        stroke-opacity: 0;
        transform: scale(1.1) rotate(60deg);
    }
}
.todo__box {
    stroke-dasharray: 56.1053, 56.1053;
    stroke-dashoffset: 0;
    transition-delay: 0.16s;
}
.todo__check {
    stroke: #27fdc7;
    stroke-dasharray: 9.8995, 9.8995;
    stroke-dashoffset: 9.8995;
    transition-duration: 0.32s;
}
.todo__line {
    stroke-dasharray: 168, 1684;
    stroke-dashoffset: 168;
}
.todo__circle {
    -webkit-animation-delay: 0.56s;
    animation-delay: 0.56s;
    -webkit-animation-duration: 0.56s;
    animation-duration: 0.56s;
}
.todo__state:checked ~ .todo__text {
    transition-delay: 0s;
    color: #5ebec1;
    opacity: 0.6;
}
.todo__state:checked ~ .todo__icon .todo__box {
    stroke-dashoffset: 56.1053;
    transition-delay: 0s;
}
.todo__state:checked ~ .todo__icon .todo__line {
    stroke-dashoffset: -8;
}
.todo__state:checked ~ .todo__icon .todo__check {
    stroke-dashoffset: 0;
    transition-delay: 0.48s;
}
.todo__state:checked ~ .todo__icon .todo__circle {
    -webkit-animation-name: explode;
    animation-name: explode;
}
html {
    background: #ddd;
}
html {
    height: 100%;
    display: flex;
}
body {
    width: 100%;
    margin: 50px;
}

.footer {
    margin-bottom: 50px;
    padding-bottom: 50px;
}

li {
    list-style: none;
}

.fa img {
    margin-top: 2%;
    display: inline-flex;
    font-size: 40px;
    width: 90px;
    height: 90px;
    border-radius: 10%;
    width: 0.5em;
    height: 0.5em;
    size: 80%;
    padding: 2px 5%;
    align-items: center;
    justify-content: center;
}
img {
    filter: brightness(1000%) grayscale(100%)
        /* To change the image color to the white */ opacity(0.1)
        /* To apply the color all over the image */ drop-shadow(0 0 0 red)
        /* To apply my costum color */ drop-shadow(0 0 0 red)
        /* To apply my costum color more stronger */ drop-shadow(0 0 0 red)
        drop-shadow(0 0 0 red) drop-shadow(0 0 0 red);
}

input {
    border-style: none;
    border: 1px solid #0f0f0f;
    border-radius: 5px;
    padding: 10px 20px ;
    width: 80%;
    margin: 20px 0px 0px 20px;
    font-size: 1em;
}

input::placeholder {
    color: #0f0f0f;
    border
}

input:focus {
    background-color: #0f0f0f;
    color: #fff;
}

/* CSS */
.button {
    background-color: #0f0f0f;
    border: 1px solid #0f0f0f;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Basier circle', -apple-system, system-ui, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 20px 20px 20px 20px;
    padding-left: 20px;
}

.button:hover {
    background-color: #fff;
    border: 1px solid #fff;
    color: #0f0f0f;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 1px 2px;
}

@media (min-width: 768px) {
    .button {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
}


.ToDo-Head {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f0f0f;
    border: 1px solid #0f0f0f;
    border-radius: 1.5rem;

    color: #fff;

    font-family: 'Basier circle', -apple-system, system-ui, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
}